
body{
    background-image: url('../img/emilia-home.jpg');
    background-position: right;
    background-repeat: no-repeat;
    background-size: 1315px;
}

#logos{
    padding-left: 60px ;
}

#nombre{
    padding-top: 200px;
    padding-left: 60px ;
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
    font-size: 30px;
    letter-spacing: 5px;
    color:rgb(71,71,71);
}

#titulo{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 75px;
    margin-top: 228px;
    background-color: rgba(255,255,255,0.2);
    position: relative;
    color: rgb(22,22,22);
}

#link{
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 40px;
    padding-left: 60px ;
    color: rgb(100,100,100);
}

img{
    width: 18px;
}

