
body{
    background-image: url('../img/emilia-music-top.jpg');
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100% 6%;
}

#titulo{
    margin-left: 10px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 70px;
    margin-top: 60px;
    position: relative;
    color: rgb(22,22,22);
}

#subtitulo{
    margin-left: 10px;
    margin-top: 50px;
    margin-bottom: 20px;
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
    font-weight: bold;
    color: rgb(22,22,22);
}

#directLink{
    margin-left: 10px;
    margin-top: 30px;
    margin-bottom: 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
}

#linksInternos{
    margin-left: 60px;
    margin-bottom: 70px;
    font-family: 'Open Sans', sans-serif;
    color: rgb(66, 66, 66);
    font-size: 15px;
}

#playList{
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 40px;
    font-family: 'Open Sans', sans-serif;
}

#goTop{
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: 80px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    color: grey
}

#info{
    margin-top: 20px;
    margin-left: 10px;
    font-family: 'Open Sans', sans-serif;
    line-height: 30px;
}
