#primerDiv{
    line-height: 40px;
    padding-left: 60px ;
}

#nombre{
    padding-top: 200px;
    padding-left: 60px ;
    color: #666;
}

#titulo{
    font-size: ;
    padding-top: 300px;
    padding-left: 60px ;
    background-color: rgba(f,f,f,0.1);
}