#primerDiv{
    line-height: 40px;
    padding-left: 60px ;
}

#nombre{
    font-size: 30px;
    padding-top: 200px;
    padding-left: 60px ;
    color: #666;
}

#titulo{
    font-size: 80px;
    margin-top: 245px;
    background-color: rgba(0,0,0,0.2);
    position: relative;
}

body{
    background-image: url('../img/emilia-home.jpg');
    background-position: right;
    background-repeat: no-repeat;
    background-size: 1300px;
}

